.inputFilter {
    width: 100%;
    height: 30px;
    font-size: 25px;
    border: 0;
    background: transparent;
    padding: 0 10px;
}

.inputTaskAdd {
    min-width: 400px;
    width: 100%;
    margin: 0 20px;
    height: 80px;
    border: 0;
    border-bottom: 1px solid black;
    font-size: 36px;
    background-color: none;
    background: transparent;
}

.inputTaskAdd,
.inputFilter:focus {
    outline: none;
}

.inputTaskAdd,
.inputFilter::placeholder {
    font-family: 'Vollkorn', serif;
}