.buttonStock {
    width: 145px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    margin-left: 20px;
    background-color: #61dafb;
    color: #000000;
    font-size: 20px;
    border-radius: 15px;
    transition: transform 0.1s ease-in-out;
}

.buttonStock:hover {
    cursor: pointer;
    background-color: transparent;
    transform: scale(1.01);
}

.buttonADD {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #000;
    width: 213px;
    height: 85px;
    cursor: pointer;
    font-size: 30px;
    margin-top: 10px;

}

.buttonADDIcon {
    width: 49px;
    height: 45px;
    background-image: url('../../assets/images/icon/iconADD.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.buttonADD:hover {
    background-color: #61dafb;
}

.buttonDone {
    border-radius: 15px;
    border: 1px solid black;
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69 69 81);
    font-size: 25px;
}

.buttonDone:hover {
    cursor: pointer;
    background-color: hsl(103, 100%, 51%);
}

.buttonEdit {
    border-radius: 15px;
    border: 1px solid black;
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69 69 81);
    font-size: 25px;
}

.buttonEdit:hover {
    cursor: pointer;
    background-color: rgb(251, 255, 23);
}

.buttonDelete {
    border-radius: 15px;
    border: 1px solid black;
    width: 110px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-size: 25px;
}

.buttonDelete:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}