.buttonStock {
    width: 145px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: rgb(225 225 225);
    color: rgb(69 69 81);
    font-size: 25px;
}

.buttonStock:hover {
    cursor: pointer;
    background-color: rgb(167, 165, 165);
}

.buttonADD {
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 15px;
    border: 1px solid #000;
    width: 213px;
    height: 95px;
    cursor: pointer;
    font-size: 30px;
}
.buttonADDIcon {
    width: 49px;
    height: 45px;
    background-image: url('../../assets/images/icon/iconADD.png');
    background-repeat: no-repeat;
    background-size:cover;
}

.buttonADD:hover {
    background-color: rgb(100, 236, 153, 0.5);
}

.buttonDone {
    border-radius: 15px;
    border: 1px solid black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69 69 81);
    font-size: 25px;
}

.buttonDone:hover {
    cursor: pointer;
    background-color: rgb(180, 191, 228);
}

.buttonDelete {
    border-radius: 15px;
    border: 1px solid black;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(69 69 81);
    font-size: 25px;
}

.buttonDelete:hover {
    cursor: pointer;
    background-color: rgb(167, 165, 165);
}