.wrap {
    display: flex;
    justify-content: space-between;
}

.buttonBlock {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #000;
    /* margin: 0; */
    margin-bottom: 15px;
    padding: 0 20px;
    background-color: #61dafb;
    width: 100%;
}

.search:hover {
    background-color: transparent;
}

.iconSearch {
    width: 25px;
    height: 25px;
    background-image: url('../../assets/images/icon/iconSearch.png');
    background-repeat: no-repeat;
    margin-top: 5px;

}

.iconClear{
    background-image: url(./../../assets/images/icon/iconClear.png);
    background-repeat: no-repeat;
    background-size:contain;
    width: 15px;
    height: 15px;
    cursor: pointer;
}