.tableRow {
    display: flex;
    background-color: #fff;
}

.tableRow:hover {
    display: flex;
    background-color: #61dafb;
    /* border: 1px black dotted; */
}

.tableCell {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
}

.tableCell:nth-child(1) {
    max-width: 30px;
}

.tableCell:nth-child(2) {
    max-width: 420px;
    /* align-items: start; */
    justify-content: start;
}

.tableCell:nth-child(3) {
    max-width: 200px;
}

.tableCell:nth-child(4),
.tableCell:nth-child(5),
.tableCell:nth-child(6) {
    max-width: 140px;
}