.main{
    /* border: 1px dotted black; */
}

.title{
    display: flex;
    justify-content: center;
    background-color: #1daa31;
}

.h1{
    margin: 0;
    color: white;
    font-size: 40px;
}

.taskAdd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1daa31;
    padding: 50px;
}