.main {
    border-radius: 15px;
    border: 1px solid #fff;
    flex: 1;
    /* margin-bottom: 55px; */
    /* padding: 10px; */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.noData {
    width: 150px;
    height: 150px;
    background-image: url(./../../assets/images/icon/iconNoData.png);
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    

}