.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  color: rgb(0, 7, 3);
  background-color: #1daa31;
  /* border: 1px dotted black; */
}

.leftBlock,
.rightBlock {
  display: flex;
  flex-direction: row;
  margin: 0 30px;
}